data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/splits/*
!data/splits/.gitkeep
results/figures/*
!results/figures/.gitkeep
results/tables/*
!results/tables/.gitkeep
results/eda/*
!results/eda/.gitkeep
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
